Once upon a time there was a {{c1.title}} named {{c1.name}} who lived in a far away kingdom with {{p[c1.p].p}} {{c2.relation}}, {{c2.title}} {{c2.name}}. An {{v1.title}} had turned their parents, the King and Queen, into frogs and locked them in a tall tower. Then {{p[v1.p].s}} had cast a spell so that no one remembered their family. {{c1.name}} and {{c2.name}} ran away from {{v1.name}} and hid in a dark forest.

Years passed and {{c1.name}} and {{c2.name}} grew up. {{c1.name}} made friends with the squirrels of the forest, and {{c2.name}} climbed trees and swung from branches. They made a house in the top of a tall tree, and lived there happily, but they never forgot their parents and the {{v1.title}}.

One day they met a merchant travelling through the forest, who told them that {{v1.name}} was holding a big party in the castle to celebrate {{p[v1.p].p}} first year of rule, and everyone in the kingdom was invited. {{c1.name}} and {{c2.name}} realized this was their chance.

{{c1.name}} and {{c2.name}} travelled to the castle on the day of the party and snuck inside. The castle was full of people from all over the kingdom, but none of them recognized the {{c1.title}} or {{c2.title}} because of {{v1.name}}'s spell.

{{c1.name}} made {{p[c1.p].p}} way to the gardens, opened a secret door that {{v1.name}} and {{p[v1.p].p}} guards didn't know about, and let {{p[v1.p].p}} squirrel friends in. They carefully crept into the ballroom where {{v1.name}} was sitting on {{p[v1.p].s}} throne.

High on the balcony above {{v1.title}} was a huge meal of wonderful food, including a gigantic cake. {{c1.name}} so hungry from eating berries in the forest for so long, but {{p[c1.p].s}} knew that {{p[c1.p].s}} had to defeat {{v1.name}}.

{{c2.name}} was also sneaking around the castle. {{p[c2.p].s|capitalize()}} jumped onto a ledge that circled around the high tower the King and Queen were locked in, and using the skills {{p[c2.p].s}}'d learned in the forest, started to climb up. The climb was scary, and the wind whipped against {{p[c2.p].p}} clothes, but finally {{p[c2.p].s}} made it to the top of the tower.

{{c2.name}} looked into the room at the top of the tower, and saw the {{v1.name}} had been careful, and had left a guard to watch the cage holding {{p[c2.p].p}} parents. {{c2.name}} looked around for something to distract the guard, and saw {{v1.name}}'s flag hanging from the wall. {{c2.name}} grabbed the flag, and swinging across the room on the hanging lantern, dropped the flag onto the guards head and pushed him down the stairs. {{c2.name}} opened the cage with {{p[c2.p].p}} parents in it, pulled them out, and started to climb down the tower.

{{c1.name}} saw the witch, far below the balcony. {{p[v1.p].P}} wand, the source of {{p[v1.p].p}} magic, was in {{p[v1.p].p}} hand. {{c1.name}} looked around for something to distract {{v1.title}}, and spotted the cake. With {{p[c1.p].p}} animal friends help {{p[c1.p].s}} tipped the cake over and sent it tumbling over the balcony and onto {{v1.name}}, knocking the wand out of {{p[v1.p].p}} hand. {{c1.name}} ran down to {{v1.title}}, and one of {{p[c1.p].p}} squirrel friends picked up the wand. {{v1.name|capitalize()}} grabbed the squirrel by the tail, but the squirrel slid the wand to {{c1.name}}'s feet.

{{c2.name}} was climbing down the tower with {{p[c2.p].p}} parents, still frogs, in {{p[c2.p].p}} shirt. They were dangling over the castle wall, {{c2.name}}'s fingers grasping at the ledge. If {{p[c2.p].p}} parents turned back into humans there was no way {{p[c2.p].s}} would be able to hold on.

{{c1.name}} picked up the wand. {{v1.name|capitalize()}} screamed for {{p[v1.p].p}} guards. The crowd of people gasped. Guards ran towards {{c1.name}}. {{c2.name}} pulled {{p[c2.p].r}} up and over the ledge, landing with a thud on solid ground. {{c1.name}} snapped the wand in two.

The King and Queen turned back into people. In a flash of light and a horrible howl, {{v1.name}} turned to dust and blew away. The guards stopped in their tracks, and suddenly remembered {{c1.name}}, {{c2.name}} and their parents. Everyone realized what the {{v1.title}} had done, and there was a huge party. {{c1.name}} and {{c2.name}} were declared high protectors of the kingdom, and lived happily ever after.